.main_navbar {
  width: 100%;
  height: 80px;
  background: #ffffff;
  box-shadow: inset 0px -1px 0px #e5e9eb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
}

.search_input {
  width: 600px;
  height: 48px;
  background-color: #e5e9eb;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #ffffff;
  border: 1px solid rgba(82, 82, 82, 0.12);
  box-sizing: border-box;
  border-radius: 8px;
}

.inptse {
  height: 100%;
  width: 90%;
  background: transparent;
  border: none;
  outline: none;
  padding: 0px 5px;
}

#search {
  height: 100%;
  width: 10%;
  border: none;
  outline: none;
  background: #4d96ff;
  border-radius: 0px 8px 8px 0px;
}

#search:hover{
    background-color: #0468f4;
    transition: 0.3s ease-in-out;
}

.icons_part{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}


